.row {
    height: 40px;
    background-color: #DBFBF4;
    display: flex;
    border-radius: 15px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
    color: #009372;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .list {
    width: calc(100% - 80px);
    display: flex;
  }
  
  p {
    text-align: left;
    margin-left: 20px;
    align-items: center;
    line-height: 5px;
  }

  h1 {
      color: #009372;
      display: inline;
  }
  
  .edit {
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: unset;
    border: none;
  }
  
  .remove {
    width: 20px;
    padding: 10px;
    padding-right: 20px;
    float: right;
    cursor: pointer;
    background-color: unset;
    border: none;
  }

  .remove:focus, .edit:focus {
    outline: none;
}
  
  .pencil {
    width: 29px;
    margin-left: -20px;
    margin-top: -5px;
    cursor: pointer;
  }

  .trash {
    height: 29px;
    margin-top: -5px;
    margin-left: -5px;
  }
  
  .label {
    margin-right: 10px;
    height: 0px;
    line-height: 5px;
    color: #009372;
    margin-top: 18px;
    font-size: 18px;
  }
  
  .add-list-form {
    display: flex;
    padding-top: 60px;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100vw;
    justify-content: left;
    z-index: 0;
  }

  .list-name-input {
    display: flex;
    background-color: #DBFBF4;
    border-radius: 0px 10px 10px 0px;
    height: 38px;
  }
  
  #title {
    height: 24px;
    margin-right: 10px;
    width: 36vw;
    margin-top: 5px;
  }

  input[type=text] {
    color: #009372;
    border: 1px #009372 solid;
    /* border-radius: 0px 10px 10px 0px; */
  }

  input:focus {
    outline: #009372 auto 1px;
  }
  
  .button {
    height: 38px;
    width: 103px;
    background-color: #84C777;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    border: #DBFBF4 solid 1px;
    font-family: 'Marker Felt', 'san-sarif';
    color: #DBFBF4;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
  }

  .button:active {
    background-color: #DBFBF4;
  }

  .button:focus {
    outline: none;
  }

  .hide {
      display: none;
  }

  #list-name {
    margin-top: 50px;
    /* background: linear-gradient(to left, blue, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  }