.row {
    height: 40px;
    background-color: #8EF187;
    display: flex;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 15px;
    margin: 0px 20px;
    /* background-image: linear-gradient(to right, rgb(252, 252, 217), #8EF187); */
  }
  
  .list {
    width: calc(100% - 80px);
    display: flex;
  }
  
  p {
    text-align: left;
    margin-left: 20px;
    align-items: center;
    line-height: 0.7;
  }

  h1 {
      color: white;
      display: inline;
  }
  
  .edit {
    width: 40px;
    padding: 10px;
    background-color: unset;
    border: none;
  }
  
  .remove {
    width: 20px;
    padding: 10px;
    padding-right: 20px;
    float: right;
    cursor: pointer;
    background-color: unset;
    border: none;
  }

  .remove:focus, .edit:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
}
  
  .pencil {
    width: 40px;
    height: 40px;
    margin-left: -10px;
    margin-top: -10px;
    cursor: pointer;
  }
  
  .label {
    margin-right: 10px;
    height: 0px;
    line-height: 0;
    color: white;
  }
  
  .add-list-form {
    display: flex;
    margin-top: 40px;
    width: 100vw;
    justify-content: left;
    margin-bottom: 20px;
    
  }
  
  #title {
    height: 24px;
    margin-right: 10px;
    width: 34vw;
  }
  
  .button {
    height: 30px;
    background-color: #8EF187;
    cursor: pointer;
    border-radius: 10px;
    border-color: #8EF187;
  }

  .hide {
      display: none;
  }