
.add-item-label {
    background-color: #D0F383;
    height: 30px;
    width: calc(100% - 20px);
    border-radius: 0px 10px 10px 0px;
}

.new-item-label {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
}

.add-item-inputs {
    background-color: #DBFBF4;
    width: calc(100% - 40px)
}

#select-category, #quantity {
    margin-left: 4px;
    color: #009372;
    border: 1px #009372 solid;
    font-family: 'Marker Felt', 'san-sarif';
}

#select-category:focus {
     outline: #009372 auto 1px;
}

.form-bar {
    height: 30px;
    width: 100%;
    padding-top: 12px;
}

#line {
    border-top: #009372 solid 1px;
}

#measurement {
    margin-left: 6px;
}