form {
    margin-top: 20px;
}

.lable {
    /* color: white; */
    margin-right: 10px;
}

.category {
    background-color: #E8876F;
    height: 40px;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 10px 10px 0px;
}

.category-name {
    display: block;
    margin-top: -10px;
}

.category-h2 {
    line-height: 46px;
    color: white;
}

.trash-2 {
    height: 22px;
    margin-top: 2px;
}


h2 {
    font-size: 1.3em;
}

.grocery-list {
    margin-top: 0px;
    list-style-type: none;
    padding-inline-start: 0;
}

.grocery-item {
    background-color: #DBFBF4;
    border: #009372 solid 1px;
    height: 30px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    border-radius: 0px 0px 10px 0px;
}

.checkbox-container {
    position: relative;
    cursor: pointer; 
    border-left: #009372 solid 1px;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=checkbox] { 
    visibility: hidden; 
} 

.checkmark { 
    position: absolute; 
    top: 3px; 
    left: 8px; 
    height: 20px; 
    width: 20px;  
    border: #009372 solid 2px;
    border-radius: 8px;
} 

.checkmark:after { 
    content: ""; 
    position: absolute; 
    display: none; 
} 

.checkbox-container input:checked ~ .checkmark:after { 
    display: block; 
} 

.checkbox-container .checkmark:after { 
    left: 6px; 
    bottom: 5px; 
    width: 4px; 
    height: 10px; 
    border: solid #009372; 
    border-width: 0 3px 3px 0; 
    -webkit-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    transform: rotate(45deg); 
} 

.item-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: #009372 solid 1px;
    border-right: #009372 solid 1px;
    width: 70px;
}

.p {
    margin: 0;
}

.edit-item-button {
    width: 40px;
    height: 30px;
    margin-left: 0px;
    border: none;
    background-color: unset;
    cursor: pointer;
}

.edit-item-button:focus, 
    .remove-item:focus {
    outline: none;
    /* background-color: #8ef187; */
}

.edit-items {
    height: 30px;
}

.edit-item-container {
    display: inline-block;
    background-color: #D0F383;
    border-radius: 0px 0px 10px 0px;
}

.list-group {
    display: flex;
}

.remove-item {
    width: 40px;
    height: 30px;
    margin-left: 0;
    border: none;
    cursor: pointer;
    background-color: unset;
}

.add-item {
    height: 36px;
    width: calc(50% - 4px);
    background-color: #D0F383;
    border: #DBFBF4 solid 1px;
    font-family: 'Marker Felt', 'san-sarif';
    color: #009372;
    font-size: 18px;
    margin-top: 20px;
}

.add-item:focus, .add-recipe-item:focus {
    background-color: #8ef187;
    outline: none;
}

.item1 {
    margin-right: 8px;
    border-radius: 0px 10px 10px 0px;
}

.item2 {
    border-radius: 10px 0px 0px 10px;
}

.add-recipe-item {
    width: 40px;
    height: 30px;
    margin-left: 0;
    border: none;
    cursor: pointer;
    font-family: 'Marker Felt', 'san-sarif';
    color: #009372;
    font-weight: bold;
    font-size: 29px;
    border-radius: 0px 0px 10px 0px;
}

.view-category {
    color: #DBFBF4;
    display: inline-block;
    cursor: pointer;
    background-color: unset;
    border: none;
    font-family: 'Marker Felt', 'san-sarif';
    margin-top: 20px;
}

.view-category:focus {
    outline: unset;
}

.edit-list-name-form {
    padding-top: 10px;
    font-family: 'Marker Felt', 'san-sarif';
    color: #009372;
}

.edit-list-name-form-container {
    height: 40px;
    width: calc(100% - 50px);
    background-color: #DBFBF4;
    margin-top: -20px;
    border-radius: 0px 0px 20px 0px;
}

.edit-list-name-button {
    float: right; 
    border-radius: 0px 0px 20px 0px;
    height: 40px;
    width: 100px;
    margin-top: -10px;
    border: #DBFBF4 solid 1px;
    font-family: 'Marker Felt', 'san-sarif';
    color: #DBFBF4;
    background-color: #84C777;
    font-weight: bold;
    font-size: 18px;
}

.spacing {
    height: 80px;
    width: 100%;
}