nav {
  height: 80px;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  /* background-image: linear-gradient(to bottom, rgba(142, 241, 135, 1), rgba(0, 0, 0, 0.5)); */
}

.logo {
  width: 70px;
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  background-color: rgb(56, 56, 56);
  border-radius: 50%;
}

.hamburger-menu {
  float: right;
  padding: 20px;
  font-size: 24px;
  color: white;
}

.App {
  text-align: center;
  min-height: 100vh;
  /* background-color: rgb(253, 253, 241); */
  background-image: url('./background_search_mobile.jpg');
}

.list-container {
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  padding-top: 20px;
}

